body{
    background-image: url("https://yzhangwh-1253708708.cos.ap-shanghai.myqcloud.com/mony%E5%A3%81%E7%BA%B8%2F%E5%B1%B1%E5%B7%9D4.jpeg");
}
h1{
    text-align: center;
    color: red;
}
a{
    text-indent: 20px;
    font-size: 20px;
    color: cornflowerblue;
}