/*暂时先不做css布局，这个比较次要，等后续再学习*/
table.tb1{
    padding: 0;
    margin: 0;
    /* 边框宽度、颜色 */
    border: 1px solid black;
    /* 表格字体大小 */
    font-size: 10px;
    /*!* 设置表格的边框是否被折叠成一个单一的边框或隔开 *!*/
    border-collapse: separate;
    /* 字体位置居中 */
    text-align: center;
    /* 表格宽度 */  /*表格高度：height*/
    width: 100%;
    /*table表格居中*/
    margin: auto;

    /*table-layout: fixed;*/
}
th{
    /* th元素的文本和背景颜色*/
    /*background-color: gainsboro;*/
    color: black;
    height: 15px;
}
td{
    padding: 4px;
    /* 表格文字对齐方式 td属性*/
    text-align: center;
    /* td元素的文本和背景颜色*/
    background-color: white;
    color: black;
    height: 15px;
}
td.bp,td.bv{
    background-color: black;
    color: yellowgreen;
}
td.ap, td.av{
    background-color: black;
    color: yellow;
}
td.lp{
    color: brown;
}
th.th2 {
    background-color: black;
    color: white;
    font-size: 13px;
}
td.td2{
    font-size: 13px;
    background-color: whitesmoke;
}